<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <form action="/logout" method="post">
    <input type="submit" id="logout" value="Logout">
  </form>
  <h1><%= title %> Admin Portal</h1>
  <p><%= user.firstname %></p>
  <% if ( startElection == 0 || startElection == 2) { %>
  <form action="/admin/startElection" method="post">
    <input type="submit" value="Start Election">
  </form>
  <% } else if (startElection == 1) { %>
  <form action="/admin/endElection" method="post">
    <input type="submit" value="End Election">
  </form>
  <% } %>
  <br>
  <a href="/admin/candidates">Approve/Decline Candidates</a>
  <br>

  <form action="/admin/voterDeadline" method="post">
    <label for="voter-deadline">Voter Deadline</label>
    <input type="datetime-local" name="voterDeadline" id="voter-deadline">
    <input type="submit" value="Update">
  </form>

  <form action="/admin/candidateDeadline" method="post">
    <label for="candidate-deadline">Candidate Deadline</label>
    <input type="datetime-local" name="candidateDeadline" id="candidate-deadline">
    <input type="submit" value="Update">
  </form>

  <hr>

  <h3>Create Position of office</h3>
  <form action="/admin/createPosition" method="post">
    <label for="position"></label>
    <input type="text" name="position" id="position">
    <input type="submit" value="Create">
  </form>
  <br>
  <h4>Availabe Posts</h4>
  <ol>
    <% positions.forEach(position => { %>
    <li><%= position.name %></li>
    <% }) %>
  </ol>

  <br>
  <hr>

  <!-- <form action="/" method="post">
    <input type="submit" value="Print Report">
  </form> -->
  <a href="/admin/results">View Results</a>

  <script type="text/javascript">
    let message = "<%= message %>";
    showAlert = function (err) {
      alert(message);
    }
    if (message != "") {
      showAlert(message);
    }
  </script>
</body>

</html>